@import url(//db.onlinewebfonts.com/c/43f4baf42da5b6a7a104c44af9737af2?family=EvelethW01-CleanRegular);

body {
    background-color: #28078a;
    color: white;
    font-family: "EvelethW01-CleanRegular";
}
